[Unit]
Description=Voltage monitoring email warnings 
After=network.target metern.service

[Service]
Type=simple
ExecStart=/var/www/MyScripts/VoltCtrl/StartService.sh

[Install]
WantedBy=multi-user.target

